/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #ff0056;
    color: white;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #00ecff;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #00ecff;
}

/* Menú de navegación */
nav {
    background-color: transparent;
    border: 2px solid #00ecff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00ecff;
}

/* Sección de bienvenida y presentación */
main {
    background-color: #8a5060; /* Fondo rojo oscuro */
    padding: 20px;
    text-align: center;
}

main h2 {
    color: #00ecff; /* Títulos cyan */
}

main p {
    color: white; /* Texto blanco */
}

/* Pie de página */
footer {
    background-color: #00ecff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    nav ul li {
        display: block; /* Los enlaces del menú se apilarán verticalmente */
        margin-right: 0;
        margin-bottom: 10px;
    }

    header {
        padding: 10px;
    }

    main {
        padding: 15px;
    }
}

